includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: max
  paths:
    - app
    - database
    - routes
    - tests
  tmpDir: storage/app/phpstan
  parallel:
    maximumNumberOfProcesses: 0
  ignoreErrors:
    - '#Class App\\Models\\.* uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types#'
