includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: max
  paths:
    - app
    - database
    - routes
    - tests
  tmpDir: storage/app/phpstan
  parallel:
    maximumNumberOfProcesses: 0
